.game-message {
    background-color: var(--bg-color2);
    color: var(--color2);
    padding: 1em 2em;
    position: absolute;
    top: 1%;
    right: 0;
    cursor: pointer;
    opacity: 0;
  }
  
  .game-msg-enter {
    opacity: 0;
  }
  .game-msg-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  
  .game-msg-enter-done {
    opacity: 1;
  }
  
  .game-msg-exit {
    opacity: 1;
  }
  .game-msg-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
  
  .game-msg-exit-done {
    display: none;
  }